<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/ml_training</property>
        <property name="connection.username">test</property>
        <property name="connection.password">test</property>
        <!-- TODO change to correct defaults for username/password -->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <!-- get rid of later
        <property name="show_sql">true</property>
        -->
        <!-- List the annotated entity class/es -->
        <mapping class="com.nextBook.database.entity.Book"/>
        <mapping class="com.nextBook.database.entity.Author"/>
        <mapping class="com.nextBook.database.entity.Users" />
        <mapping class="com.nextBook.database.entity.User_roles" />

    </session-factory>

</hibernate-configuration>